@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>@Html.ActionLink("Upload the file","Upload","Home")</p>
    <p>@Html.ActionLink("View the list of uploaded file","ListOfFiles","Home")</p>
</div>
